#score {
    position: absolute;
    left: 115px;
    top: 350px;
}

.actions {
    position: absolute;
    top: 400px;
    left: 40px;
}

.actions button {
    width: 100px;
    margin-bottom: 5px;
}

.config {
    position: absolute;
    top: 20px;
    left: 350px;
}

#output {
    position: absolute;
    left: 600px;
    top: 20px;
    width: 600px;
}



.hexagon {
    width: 60px;
    height: 35px;
    z-index: 1;
    transform: rotate(30deg);   
    /* 
        This rotates everything in div, even before and after, 
        which are supposed to be 60 deg apart 
    */
}

.hexagon:before {
    content: " ";
    position: absolute;
    width: 60px;
    height: 35px;
    transform: rotate(60deg); 
}

.hexagon:after {
    content: " ";
    position: absolute;
    width: 60px;
    height: 35px;
    transform: rotate(120deg); 
}

.hexagon span {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99;
    transform: rotate(-30deg); 
    top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #EEE;
}
    

.color0, .color0:before, .color0:after {
    background: darkgrey !important;
}

.color1, .color1:before, .color1:after {
    background: blue !important;
}

.color2, .color2:before, .color2:after {
    background: navy  !important;
}

.color3, .color3:before, .color3:after {
    background: gold !important;
}

.color4, .color4:before, .color4:after {
    background: forestGreen !important;
}

.color5, .color5:before, .color5:after {
    background: crimson  !important;
}

.color6, .color6:before, .color6:after {
    background: purple !important;
}

.color7, .color7:before, .color7:after {
    background: darkOrange  !important;
}

.color8, .color8:before, .color8:after {
    background: teal !important;
}

.color9, .color9:before, .color9:after {
    background: DarkGoldenRod !important;
}

.color10, .color10:before, .color10:after {
    background: brown !important;
}

.color11, .color11:before, .color11:after {
    background: red !important;
}

.color12, .color12:before, .color12:after {
    background: darkred !important;
}

.color13, .color13:before, .color13:after {
    background: black !important;
}
 



.column1 {
    position: absolute;
    left: 10px;
}
.column2 {
    position: absolute;
    left: 65px;
}
.column3 {
    position: absolute;
    left: 120px;
}
.column4 {
    position: absolute;
    left: 175px;
}
.column5 {
    position: absolute;
    left: 230px;
}


.row1 {
    top: 20px;
}
.row2 {
    top: 52px;
}
.row3 {
    top: 84px;
}
.row4 {
    top: 116px;
}
.row5 {
    top: 148px;
}
.row6 {
    top: 180px;
}
.row7 {
    top: 212px;
}
.row8 {
    top: 244px;
}
.row9 {
    top: 276px;
}